@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
html, body {
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.bg-left {
  background: url('../img/bg.png') repeat-y top left, #F8F8F8;
}
/* center nav links for media > 768px than toggle button 
 * appear and nav links become vertical */
@media (min-width: 768px){
  .navbar-nav {
    float: none;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;	
  }
  .nav > li {
    display: inline;
  }
  .nav > li > a {
    display: inline-block;
  }
}
/* nav centering ends */
/* change color, border and background settings for nav buttons */
.navbar-inverse {
  background-color:rgba(255,255,255,.5);
  border-color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #3498DB;
  font-size: 18px;  
  border-right: solid 1px #fff;
  border-left: solid 1px #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #3498DB;
  background-color:rgba(255,255,255,1);
}
.navbar-inverse .navbar-toggle {
  border-color: #3498DB;
  background-color: #3498DB;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
  background-color: #3498DB;
}
.navbar-inverse .navbar-collapse {
  border-color: #fff;
}
/* change nav buttons ends */
/* make box for snippets date, caption and type of language */
.snippets {
  display: block;
  border-radius: 10px;
  border: solid 2px #fff;
  margin: 10px 10px 10px 50px;
  z-index: -1;
}
.snippets .snippets-caption {
  display: table-cell;
  min-height: 65px;   
  height: 65px;  
  padding: 10px 5px 10px 60px;
  vertical-align: middle;
}
.snippets .snippets-caption a {
  font-size: 18px;
  color: #1ABC9C;
}
.snippets .snippets-type {
  display: table-cell;  
  color: #E74C3C;
  font-size: 18px;
  min-height: 65px;  
  height: 65px;
  padding: 10px 5px 10px 60px;
  vertical-align: middle;
}
.snippets-circle {
  position: absolute;
  color: #2C3E50;
  margin-left: -50px;
  bottom: 28px;
  width: 102px;
  height: 102px;
  border: 3px solid white;
  background-color: #F8F8F8;
  padding: 8px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
 }
.snippets-circle::before {
  display: block;
  content: ' ';
  position: absolute;
  width: 80px;
  height: 80px;
  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: -1;
}
.snippets-circle .text-padding {
  padding-top: 15px;
}
.hr-white {
  margin: 0;
  border: 1px white solid;
}
/* box for snippets ends */
